
canvas {
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    image-rendering: -webkit-crisp-edges;
    width: 100%;
    background-color: black;
}

body {
    background-color: black;
    cursor: none;
    overflow: hidden;
}